<div class="block">
    <h4>Expériences</h4>
    <div class="row">
        <div class="col-4 navBar">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-Internship-list" data-toggle="list" href="#list-Internship" role="tab" aria-controls="Internship">Stages</a>
                <br>
                <a class="list-group-item list-group-item-action" id="list-Projects-list" data-toggle="list" href="#list-Projects" role="tab" aria-controls="Projects">Projets</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-Internship" role="tabpanel" aria-labelledby="list-Internship-list">
                    <div style="margin-top: 2%;">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-header" style="background-color: #001f3f;"><h5 class="card-title text-center">Stage ouvrier : CAPREMIB</h5></div>
                                    <div class="card-body bg-secondary projectSkillText">
                                        <p class="card-text experienceText">Stage ouvrier d'une durée d'un mois chez CAPREMIB,  fililiale de Demathieu & Bard (préfabrication de matériaux en béton et béton armé).</p>
                                    </div>
                                    <footer class="blockquote-footer">juillet 2015</footer>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-header" style="background-color: #001f3f;"><h5 class="card-title text-center">Stage : DSI TRANSPOLE</h5></div>
                                    <div class="card-body bg-secondary projectSkillText">
                                        <p class="card-text experienceText">J'ai eu la chance de faire mon stage de professionnalisation avec la DSI de TRANSPOLE. Ma mission principale fût de mettre en place un référenciel produit.</p>
                                    </div>
                                    <footer class="blockquote-footer">mai-août 2018</footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-Projects" role="tabpanel" aria-labelledby="list-Projects-list">
                    <div style="margin-top: 2%;">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-header" style="background-color: #001f3f;"><h5 class="card-title text-center">Projet</h5></div>
                                    <div class="card-body bg-secondary projectSkillText">
                                        <h5 class="card-title experienceTitle">XXXX - 1</h5>
                                        <p class="card-text experienceText">xxxx  xxxxx xxxxx  xxxxx  xxxx  xxxxxxxx.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-header" style="background-color: #001f3f;"><h5 class="card-title text-center">Projet</h5></div>
                                    <div class="card-body bg-secondary projectSkillText">
                                        <h5 class="card-title experienceTitle">XXXX - 1</h5>
                                        <p class="card-text experienceText">xxxx  xxxxx xxxxx  xxxxx  xxxx  xxxxxxxx.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-header" style="background-color: #001f3f;"><h5 class="card-title text-center">Projet</h5></div>
                                    <div class="card-body bg-secondary projectSkillText">
                                        <h5 class="card-title experienceTitle">XXXX - 1</h5>
                                        <p class="card-text experienceText">xxxx  xxxxx xxxxx  xxxxx  xxxx  xxxxxxxx.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>