<div class="block">
    <h4>Expériences</h4>
    <div class="row">
        <div class="col-4 navBar">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-Internship-list" data-toggle="list" href="#list-Internship" role="tab" aria-controls="Internship">Stages</a>
                <br>
                <a class="list-group-item list-group-item-action" id="list-Projects-list" data-toggle="list" href="#list-Projects" role="tab" aria-controls="Projects">Projets</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-Internship" role="tabpanel" aria-labelledby="list-Internship-list">
                    <div style="margin-top: 2%;">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-header" style="background-color: #001f3f;"><h5 class="card-title text-center">Stage ouvrier : CAPREMIB</h5></div>
                                    <div class="card-body bg-secondary justifyText">
                                        <p class="card-text experienceText">Stage ouvrier d'une durée d'un mois chez CAPREMIB,  fililiale de Demathieu & Bard (préfabrication de matériaux en béton et béton armé).</p>
                                    </div>
                                    <footer class="blockquote-footer">juillet 2015</footer>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-header" style="background-color: #001f3f;"><h5 class="card-title text-center">Stage : DSI TRANSPOLE</h5></div>
                                    <div class="card-body bg-secondary justifyText">
                                        <p class="card-text experienceText">J'ai eu la chance de faire mon stage de professionnalisation avec la DSI de TRANSPOLE. Ma mission principale fût de mettre en place un référenciel produit.</p>
                                    </div>
                                    <footer class="blockquote-footer">mai - août 2018</footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-Projects" role="tabpanel" aria-labelledby="list-Projects-list">
                    <div style="margin-top: 2%;">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-header" style="background-color: #001f3f;"><h5 class="card-title text-center">1er Site WEB</h5></div>
                                    <div class="card-body bg-secondary projectSkillText">
                                        <h5 class="card-title experienceTitle">Réalisation d'un site WEB pour l'entreprise Rose Corail</h5>
                                        <ul class="card-text experienceText">
                                            <li>Equipe de 2 personnes.</li>
                                            <li>Site vitrine, gestion de comptes admin. et clients et possibilité de passer des commandes.</li>
                                            <li>Utilisation de Servlets et DAO.</li>
                                            <li>Techno. utilisées: JavaEE, MySQL, JUnit, JQuery, Bootstrap.</li>
                                        </ul>
                                    </div>
                                    <footer class="blockquote-footer">octobre 2017 - avril 2018</footer>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-header" style="background-color: #001f3f;"><h5 class="card-title text-center">APIRest</h5></div>
                                    <div class="card-body bg-secondary projectSkillText">
                                        <h5 class="card-title experienceTitle">Développement d'une application APIRest</h5>
                                        <ul class="card-text experienceText">
                                            <li>Equipe de 8 personnes.</li>
                                            <li>Gestion de portefeuilles boursier.</li>
                                            <li>Application des grands principes de la qualité logicielle (clean code, architecture hexagonale, T.U., T.I., ...).</li>
                                            <li>Techno. utilisées: JavaEE, Hibernate, JUnit, Mockito.</li>
                                        </ul>
                                    </div>
                                    <footer class="blockquote-footer">septembre - décembre 2018</footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>