<div class="block">
    <h4>Formation</h4>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-Basketball" role="tabpanel" aria-labelledby="list-Basketball-list">
                    <div style="margin-top: 2%;">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="card bg-secondary">
                                    <img class="card-img-top rounded" src="./images/ulaval.jpg" alt="uLaval logo">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a class="title_link" href="https://www.ulaval.ca/">Université Laval</a>
                                        </h5>
                                        <p>Semestre d'étude. <i style="color: black;">(sept-déc 2018)</i></p>
                                        <ul class="card-text">
                                            <u>Cours suivis (génie logicielle):</u>
                                            <li>Qualité logicielle,</li>
                                            <li>Gestion de projet,</li>
                                            <li>Bases de données avancées,</li>
                                            <li>Introduction à l'intelligence artificielle.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card bg-secondary">
                                    <img class="card-img-top rounded" src="./images/hei.jpg" alt="HEI logo">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a class="title_link" href="https://www.hei.fr/">HEI</a>
                                        </h5>
                                        <ul class="card-text">
                                            <li>Cycle d'ingénieur, spécialisation en Informatique et Technologies de l'Information. <i style="color: black;">(2016-2019)</i></li>
                                            <li>Classes préparatoires (MPSI-MP). <i style="color: black;">(2014-2016)</i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card bg-secondary">
                                    <img class="card-img-top rounded" src="./images/paul_claudel.png" alt="Paul Claudel logo">
                                    <div class="card-body">
                                        <h5 class="card-title">Baccalauréat Scientifique</h5>
                                        <p class="card-text">Obtention en 2014. (Mention Bien)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
