<div class="block">
    <h4>Autres</h4>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-Basketball" role="tabpanel" aria-labelledby="list-Basketball-list">
                    <div style="margin-top: 2%;">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="card bg-secondary">
                                    <img class="card-img-top rounded" src="./images/basketball.jpg" alt="Basketball image">
                                    <div class="card-body">
                                        <h5 class="card-title">Basketball</h5>
                                        <ul class="card-text">
                                            <li>Pratique depuis 12 ans en club.</li>
                                            <li>Coach de l'équipe de mon école pendant la saison 2016-2017.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card bg-secondary">
                                    <img class="card-img-top rounded" src="./images/BULATS.jpg" alt="BULATS image">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a class="title_link" href="https://www.cambridgeenglish.org/fr/exams-and-tests/bulats/">BULATS</a>
                                        </h5>
                                        <p class="card-text">Certification d'un niveau B2.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card bg-secondary">
                                    <img class="card-img-top rounded" src="./images/permis.jpg" alt="Driving licence image">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a>Permis B</a>
                                        </h5>
                                        <p class="card-text">Obtention en 2014.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>