<div class="block">
    <h4>Autres</h4>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-Basketball" role="tabpanel" aria-labelledby="list-Basketball-list">
                    <div style="margin-top: 2%;">
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-4">
                                <div class="card bg-secondary">
                                    <img class="card-img-top rounded" src="./images/basketball.jpg" alt="Basketball image">
                                    <div class="card-body">
                                        <h5 class="card-title">Basketball</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2"></div>
                            <div class="col-sm-4">
                                <div class="card bg-secondary">
                                    <img class="card-img-top rounded" src="./images/basketball.jpg" alt="Basketball image">
                                    <div class="card-body">
                                        <h5 class="card-title">BULATS</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>