<div class="block">
    <h4>ProjectSkills</h4>
    <div class="row">
        <div class="col-4 navBar">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-GitHub-list" data-toggle="list" href="#list-GitHub" role="tab" aria-controls="GitHub">GitHub</a>
                <br>
                <a class="list-group-item list-group-item-action" id="list-JiraConfluence-list" data-toggle="list" href="#list-JiraConfluence" role="tab" aria-controls="JiraConfluence">Jira & Confluence</a>
                <br>
                <a class="list-group-item list-group-item-action" id="list-Trello-list" data-toggle="list" href="#list-Trello" role="tab" aria-controls="Trello">Trello</a>
                <br>
                <a class="list-group-item list-group-item-action" id="list-SlackStride-list" data-toggle="list" href="#list-SlackStride" role="tab" aria-controls="SlackStride">Slack & Stride</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-GitHub" role="tabpanel" aria-labelledby="list-GitHub-list">
                    <div style="margin-top: 2%;">
                        <div class="col-sm-6">
                            <div class="card bg-secondary">
                                <div class="card-body">
                                    <div class="card-header" style="background-color: #001f3f;"><h5 class="card-title text-center">Github</h5></div>
                                    <p class="card-text justifyText" style="margin-top: 3%;">
                                        J'ai eu la chance de pouvoir utiliser Github dans la plupart de mes projets informatiques. Je connais donc les fonctionnalités primaires de Github (add, commit, push, pull et branch) et j'ai également eu l'opportunité d'exploiter la fonctionnalité Pull-Request de Github sur l'un de mes derniers projets.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-JiraConfluence" role="tabpanel" aria-labelledby="list-JiraConfluence-list">
                    <div style="margin-top: 2%;">
                        <div class="col-sm-6">
                            <div class="card bg-secondary">
                                <div class="card-body">
                                    <div class="card-header" style="background-color: #001f3f;"><h5 class="card-title text-center">JiraConfluence</h5></div>
                                    <p class="card-text justifyText" style="margin-top: 3%;">
                                        J'ai eu la chance d'expérimenter une partie des logiciels proposés par Atlassian, notamment Jira (un outil de gestion de projet) et Confluence (un wiki).
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-Trello" role="tabpanel" aria-labelledby="list-Trello-list">
                    <div style="margin-top: 2%;">
                        <div class="col-sm-6">
                            <div class="card bg-secondary">
                                <div class="card-body">
                                    <div class="card-header" style="background-color: #001f3f;"><h5 class="card-title text-center">Trello</h5></div>
                                    <p class="card-text justifyText" style="margin-top: 3%;">
                                        J'ai aussi utilisé Trello comme logiciel de gestion de tâches partagées lors de projets scolaires.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-SlackStride" role="tabpanel" aria-labelledby="list-SlackStride-list">
                    <div style="margin-top: 2%;">
                        <div class="col-sm-6">
                            <div class="card bg-secondary">
                                <div class="card-body">
                                    <div class="card-header" style="background-color: #001f3f;"><h5 class="card-title text-center">Communication</h5></div>
                                    <p class="card-text justifyText" style="margin-top: 3%;">
                                        J'ai pu travailler avec les logiciels de messagerie instantannée Slack et Stride.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>