<div class="aa" style="margin-top: 7%;">
    <div class="row">
        <div class="col-4 navBar">
            <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-DevSkills-list" data-toggle="list" href="#list-DevSkills" role="tab" aria-controls="DevSkills">DevSkills</a>
            <br>
            <a class="list-group-item list-group-item-action" id="list-ProjectSkills-list" data-toggle="list" href="#list-ProjectSkills" role="tab" aria-controls="ProjectSkills">ProjectSkills</a>
            <br>
            <a class="list-group-item list-group-item-action" id="list-Experience-list" data-toggle="list" href="#list-Experience" role="tab" aria-controls="Experience">Experience</a>
            <br>
            <a class="list-group-item list-group-item-action" id="list-Hobbies-list" data-toggle="list" href="#list-Hobbies" role="tab" aria-controls="Hobbies">Hobbies</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-DevSkills" role="tabpanel" aria-labelledby="list-DevSkills-list">
                    <h4>DevSkills</h4>
                    <div class="dev_skills" style="margin-top: 2%;">
                        <div class="row">
                            <div class="col-sm-4" style="margin-top: 2%;">
                                <div class="card">
                                    <div class="card-header" style="background-color: #001f3f;"><h5 class="card-title text-center">FrontEnd</h5></div>
                                    <div class="card-body bg-secondary">
                                        <ul class="card-text text-center">
                                            <li><h5><span class="badge badge-success badge-pill">HTML5 & CSS3</span></h5></li>
                                            <li><h5><span class="badge badge-warning badge-pill">Bootstrap</span></li></h5>
                                            <li><h5><span class="badge badge-danger badge-pill">Angular</span></li></h5>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-header" style="background-color: #001f3f;"><h5 class="card-title text-center">BackEnd</h5></div>
                                    <div class="card-body bg-secondary">
                                        <ul class="card-text text-center">
                                            <li><h5><span class="badge badge-success badge-pill">Java (J2E)</span></h5></li>
                                            <li><h5><span class="badge badge-warning badge-pill">NodeJS</span></li></h5>
                                            <li><h5><span class="badge badge-success badge-pill">SQL</span></h5></li>
                                            <li><h5><span class="badge badge-warning badge-pill">MongoDB</span></li></h5>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4" style="margin-top: 2%;">
                                <div class="card">
                                    <div class="card-header" style="background-color: #001f3f;"><h5 class="card-title text-center">Mobile</h5></div>
                                    <div class="card-body bg-secondary">
                                        <ul class="card-text text-center">
                                            <li><h5><span class="badge badge-warning badge-pill">Android (Java)</span></h5></li>
                                            <li><h5><span class="badge badge-warning badge-pill">Flutter</span></li></h5>
                                            <li><h5><span class="badge badge-danger badge-pill">Ionic</span></h5></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-ProjectSkills" role="tabpanel" aria-labelledby="list-ProjectSkills-list">
                    <h4>ProjectSkills</h4>
                    <div class="project_skills" style="margin-top: 2%;">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-header" style="background-color: #001f3f;"><h5 class="card-title text-center">GitHub</h5></div>
                                    <div class="card-body bg-secondary projectSkillText">
                                        J'ai eu la chance de pouvoir utiliser Github dans la plupart de mes projets informatiques. Je connais donc les fonctionnalités primaires de Github (add, commit, push, pull et branch) et j'ai également eu l'opportunité d'exploiter la fonctionnalité Pull-Request de Github sur l'un de mes derniers projets.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-header" style="background-color: #001f3f;"><h5 class="card-title text-center">Jira & Confluence</h5></div>
                                    <div class="card-body bg-secondary projectSkillText">
                                        J'ai eu la chance d'expérimenter une partie des logiciels proposés par Atlassian, notamment Jira (un outil de gestion de projet) et Confluence (un wiki).
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-top: 3%;">
                                <div class="card">
                                    <div class="card-header" style="background-color: #001f3f;"><h5 class="card-title text-center">Trello</h5></div>
                                    <div class="card-body bg-secondary projectSkillText">
                                        J'ai aussi utilisé Trello comme logiciel de gestion de tâches partagées lors de projets scolaires.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-top: 3%;">
                                <div class="card">
                                    <div class="card-header" style="background-color: #001f3f;"><h5 class="card-title text-center">Slack & Stride</h5></div>
                                    <div class="card-body bg-secondary projectSkillText">
                                        J'ai pu travailler avec les logiciels de messagerie instantannée Slack et Stride.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-Experience" role="tabpanel" aria-labelledby="list-Experience-list">
                    <h4>Experience</h4>
                    <div class="experience" style="margin-top: 2%;">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-header" style="background-color: #001f3f;"><h5 class="card-title text-center">Stage</h5></div>
                                    <div class="card-body bg-secondary projectSkillText">
                                        <h6 class="card-title experienceTitle">DSI TRANSPOLE (WEB & Mobile)</h6>
                                        <p class="card-text experienceText">J'ai eu la chance de faire mon stage de professionnalisation avec la DSI de TRANSPOLE. Ma mission principale fût de mettre en place un référenciel produit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-header" style="background-color: #001f3f;"><h5 class="card-title text-center">Projet</h5></div>
                                    <div class="card-body bg-secondary projectSkillText">
                                        <h5 class="card-title experienceTitle">XXXX - 1</h5>
                                        <p class="card-text experienceText">xxxx  xxxxx xxxxx  xxxxx  xxxx  xxxxxxxx.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-top: 3%;">
                                <div class="card">
                                    <div class="card-header" style="background-color: #001f3f;"><h5 class="card-title text-center">Projet</h5></div>
                                    <div class="card-body bg-secondary projectSkillText">
                                        <h5 class="card-title experienceTitle">XXXX - 2</h5>
                                        <p class="card-text experienceText">xxxx  xxxxx xxxxx  xxxxx  xxxx  xxxxxxxx.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-top: 3%;">
                                <div class="card">
                                    <div class="card-header" style="background-color: #001f3f;"><h5 class="card-title text-center">Projet</h5></div>
                                    <div class="card-body bg-secondary projectSkillText">
                                        <h5 class="card-title experienceTitle">XXXX - 3</h5>
                                        <p class="card-text experienceText">xxxx  xxxxx xxxxx  xxxxx  xxxx  xxxxxxxx.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-Hobbies" role="tabpanel" aria-labelledby="list-Hobbies-list">
                    <h4>Hobbies</h4>
                    <div class="hobbies" style="margin-top: 2%;">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card bg-secondary">
                                    <img class="card-img-top rounded" src="./images/basketball.jpg" alt="Basketball image">
                                    <div class="card-body">
                                        <h5 class="card-title">Basketball</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card bg-secondary">
                                    <img class="card-img-top rounded" src="./images/basketball.jpg" alt="Quebec image">
                                    <div class="card-body">
                                        <h5 class="card-title">Séjour d'étude à l'Université Laval</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>