<div class="mainBlock" style="margin-top: 7%;">
    <% include ../partials/devSkills.ejs %>
    <% include ../partials/projectSkills.ejs %>
    <% include ../partials/experience.ejs %>
    <% include ../partials/formation.ejs %>
    <% include ../partials/others.ejs %>
</div>