body {
    color: white;
}

.mainBlock{
    margin-left: 3%;
    margin-right: 3%;
}

.block{
    margin-top: 4%;
}

h2{
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    letter-spacing: 5px;
}

/* **************** */
/* SKILLS */
/* **************** */

#list-FrontEnd, #list-BackEnd, #list-Mobile, #list-GitHub, #list-JiraConfluence,
#list-Trello, #list-SlackStride, #list-Internship, #list-Projects{
    color: white;
}
#list-tab{
    border-color: white;
}
#list-FrontEnd-list, #list-BackEnd-list, #list-Mobile-list, #list-GitHub-list, 
#list-JiraConfluence-list, #list-Trello-list, #list-SlackStride-list,
#list-Internship-list, #list-Projects-list{
    background-color: black;
    color: white;
}
a#list-FrontEnd-list:hover, a#list-BackEnd-list:hover, a#list-Mobile-list:hover, a#list-GitHub-list:hover, 
a#list-JiraConfluence-list:hover, a#list-Trello-list:hover, a#list-SlackStride-list:hover,
a#list-Internship-list:hover, a#list-Projects-list:hover{
    font-weight: bold;
    border-color: #00C851;
}


a.active{
    background-color: white;
    border-color: white;
}
.navBar{
    margin-top: 2%;
}
li{
    margin-top: 1%;
}
ul{
    /*list-style-type: none;*/
    padding: 0;
    margin: 0;
}
.projectSkillText{
    text-align: justify;
}
.experienceText{
    font: Arial, sans-serif;
    font-size: 14px;
}
.experienceTitle{
    color: #001f3f;
    font-weight: bold;
    font-size: 1.2em
}

a.title_link{
    color: white;
}

a.title_link:hover{
    color: #0a24ff;
    text-decoration: none;
}


/* **************** */
/* FOOTER */
/* **************** */
.mainFooter{
    margin-top: 10%;
    background-color: #222222;
}

.items_footer{
    margin-top: 1%;
}

/* Style all font awesome icons */
.fab {
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10%;
  }

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-github {
    background: #444444;
    color: white;
}

/* Slack */
.fa-slack {
    background: #DAA520;
    color: white;
}

/* Linkedin */
.fa-linkedin {
    background: #007bb5;
    color: white;
}

/* Skype */
.fa-skype {
    background: #00aff0;
    color: white;
}

.tooltiptext {
    visibility: hidden;
    font-size: 0%;
}
