<!doctype html>
<html lang="fr">
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <div class="text-center">
        <img src="/img/zuck.jpg" class="img-fluid" alt="pictureOfMe" width="15%">
        <h2>William Evrard</h2>
    </div>
    <div class="container" style="margin-top: 5%;">
        <h4>DevSkills</h4>
        <div class="dev_skills" style="margin-top: 1%; margin-bottom: 4%;">
            <ul class="list-inline">
                <li class="list-inline-item"><h6>BackEnd</h6></li>
                <li class="list-inline-item" style="margin-left: 3%;">Java (J2E)</li>
                <li class="list-inline-item"><ion-icon name="logo-nodejs"></ion-icon> NodeJS</li>
                <li class="list-inline-item">SQL</li>
                <li class="list-inline-item">MongoDB</li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item"><h6>FrontEnd</h6></li>
                <li class="list-inline-item" style="margin-left: 3%;">HTML<ion-icon name="logo-html5"></ion-icon> & CSS<ion-icon name="logo-css3"></ion-icon></li>
                <li class="list-inline-item"><ion-icon name="logo-angular"></ion-icon> Angular</li>
                <li class="list-inline-item">Bootstrap</li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item"><h6>Mobile</h6></li>
                <li class="list-inline-item" style="margin-left: 3%;">Android (Java)</li>
                <li class="list-inline-item">Flutter</li>
                <li class="list-inline-item"><ion-icon name="logo-ionic"></ion-icon> Ionic</li>
            </ul>
        </div>
        <h4>ProjectSkills</h4>
        <div class="project_skills" style="margin-top: 1%; margin-bottom: 4%;">
            <ul class="list-inline">
                <li class="list-inline-item"><ion-icon name="logo-github"></ion-icon> GitHub</li>
                <li class="list-inline-item">Trello</li>
                <li class="list-inline-item">Jira & Confluence</li>
                <li class="list-inline-item"><ion-icon name="logo-slack"></ion-icon> Slack & Stride</li>
            </ul>
        </div>
        <h4>Experience</h4>
        <div class="experience" style="margin-top: 1%; margin-bottom: 4%;">
            <ul class="list-inline">
                <li class="list-inline-item"><h6>Stage</h6></li>
                <li class="list-inline-item" style="margin-left: 3%;">DSI TRANSPOLE (WEB & Mobile)</li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item"><h6>Projet</h6></li>
                <li class="list-inline-item" style="margin-left: 3%;">xxx</li>
                <li class="list-inline-item">xxx</li>
            </ul>
        </div>
        <h4>Hobbies</h4>
        <div class="hobbies" style="margin-top: 1%;">
            <ul class="list-inline">
                <li class="list-inline-item">Basketball</li>
                <li class="list-inline-item">Voyages</li>
            </ul>
        </div>
    </div> 
</body>
</html>